# Saved HTML file for scrapping
scrapper/gpubenchmarl_clean.html
scrapper/tpu_clean.html
scrapper/Category_ VGA - Enterkomputer Toko Online Komputer, Simulasi & Rakit PC.html

# vscode specific files
.vscode/

# Python caching and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/
.venv/
env.bak/
venv.bak/

# Jupyter Notebook settings
.ipynb_checkpoints/

# Streamlit specific
.streamlit/