# Saved HTML file for scrapping
scrapper/gpubenchmarl_clean.html
scrapper/tpu_clean.html
scrapper/Category_ VGA - Enterkomputer Toko Online Komputer, Simulasi & Rakit PC.html

# vscode specific files
.vscode/